{%extends "app/layout.html" %}

{% block content %}
<div class="outter-wp">
    <!--custom-widgets-->
    <div class="custom-widgets">
        <div class="row-one">
            <h3 class="head-top">Next 5 Days' Stock Price</h3>
							<div class="grid_3 grid_5">

								<div class="but_list">
									<div class="bs-example bs-example-tabs" role="tabpanel"
										data-example-id="togglable-tabs">
										<ul id="myTab" class="nav nav-tabs" role="tablist">
											<li role="presentation" class="active"><a href="#home" id="home-tab"
													role="tab" data-toggle="tab" aria-controls="home"
													aria-expanded="true">Introduction</a></li>
											<li role="presentation"><a href="#profile" role="tab" id="profile-tab"
													data-toggle="tab" aria-controls="profile">More Practical Price</a></li>

											<li role="presentation" class="dropdown">
												<a href="#" id="myTabDrop1" class="dropdown-toggle"
													data-toggle="dropdown" aria-controls="myTabDrop1-contents">Prediction Engine
													<span class="caret"></span></a>
												<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1"
													id="myTabDrop1-contents">
													<li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab"
															data-toggle="tab" aria-controls="dropdown1">Recurrennt Neural Network</a></li>
													<li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab"
															data-toggle="tab" aria-controls="dropdown2">Long Short-term Memory Network</a></li>
                                                    <li><a href="#dropdown3" tabindex="-1" role="tab" id="dropdown3-tab"
                                                            data-toggle="tab" aria-controls="dropdown2">Ensemble Models</a></li>
												</ul>
											</li>
										</ul>
										<div id="myTabContent" class="tab-content">
											<div role="tabpanel" class="tab-pane fade in active" id="home"
												aria-labelledby="home-tab">
                                                <h3>Welcome to Visit Tomorrow's Stock </h3>
												<p>We provide a robust and improving prediction service for the next 5 days' most possible price. 
                                                    The designed different neural networks are being training every month. 
                                                    The prediction models will execulate every day for you.
                                                    The ensemble models(COMB) can provide more robust prediction.
                                                </p>
											</div>
											<div role="tabpanel" class="tab-pane fade" id="profile"
												aria-labelledby="profile-tab">
												<p>More practical price also called most possible price introduced by us. 
                                                  Neither open/close value nor high/low value is that we can purchase or sell.
                                                  Thus, we introduce the price which is the average of open, close, high and low value.
                                                </p>
											</div>

											<div role="tabpanel" class="tab-pane fade" id="dropdown1"
												aria-labelledby="dropdown1-tab">
												<p>Recurrent Neural Network consists of one recurrent layer with 64 neurons and 
                                                    one fully connected layer. The root mean square error is about 2.41</p>
											</div>
											<div role="tabpanel" class="tab-pane fade" id="dropdown2"
												aria-labelledby="dropdown2-tab">
												<p>Long Short-term Memory Network consists of one LSTM layer with 64 neurons and
                                                    one fully connected layer. The root mean square error is about 2.38
                                                </p>
											</div>

                                            <div role="tabpanel" class="tab-pane fade" id="dropdown3"
												aria-labelledby="dropdown3-tab">
												<p>Ensemble Models can fuse prediction result from different models by majority voting with error wights.
                                                    The root mean square error will be mapped into weight probability.
                                                </p>
											</div>
										</div>
									</div>
								</div>
							</div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//custom-widgets-->
    <!--/candile-->
    <div class="charts">
        <div class="chrt-inner">
            <div class="chrt-bars">
                {% for stock, predicts in top_stocks_dict.items %}
                <div class="col-md-6 chrt-three">
                    <h3 class="sub-tittle">{{stock.company}}({{stock.symbol}})</h3>
                    <!-- <div id="center"> -->
                    <div id="fig{{stock.symbol}}" style="width: 100%; height: 350px"></div>
                    <script>
                        model_type = []
                        Xdata = []
                        Ydata = []

                        {% for model, prices in predicts.items %}
                        Xdata = []
                        model_type.push("{{model}}");
                        Yvalue = {
                            name: "{{model}}",
                            type: 'line',
                            stack: "{{model}}",
                            data: []
                        }
                        {% for price in prices %}
                        Xdata.push("{{price.date|date:"Y - m - d"}}");
                        Yvalue.data.push({{ price.price }})
                        {% endfor %}
                        Yvalue.data.reverse()
                        Xdata.reverse()
                        Ydata.push(Yvalue)
                        console.log(Ydata)
                        console.log(Xdata)
                        {% endfor %}

                        rawData = [
                        ].reverse()


                        // create ECharts object 
                        var myChart = echarts.init(document.getElementById("fig{{stock.symbol}}"))
                        // config 
                        var option = {
                            title: {
                                text: '{{stock.symbol}}'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            // toolbox: {
                            //     feature: {
                            //         saveAsImage: {}
                            //     }
                            // },
                            legend: {
                                data: ['LSTM', 'RNN', 'COMB']
                            },
                            xAxis: {
                                type: "category",
                                data: Xdata,
                            },
                            yAxis: {
                                //type: 'value'
                                scale: true
                            },
                            series: Ydata,

                        }
                        myChart.setOption(option)
                    </script>
                    <!-- </div> -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--/candile-->
</div>
{% endblock %}